[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/octet-stream;inode/directory;
Actions=ESETOpt2Clean;ESETOpt2Quar;ESETOpt2Send;
Encoding=UTF-8
X-KDE-Priority=TopLevel
X-KDE-Submenu=ESET NOD32 Antivirus - Other options

[Desktop Action ESETOpt2Clean]
Exec=/opt/eset/esets/lib/esets_clean.sh %U
Icon=/opt/eset/esets/lib/gui/app_icon_32.png
Name=ESET NOD32 Antivirus - Clean

[Desktop Action ESETOpt2Quar]
Exec=/opt/eset/esets/lib/esets_quar.sh %U
Name=Quarantine files

[Desktop Action ESETOpt2Send]
Exec=/opt/eset/esets/lib/esets_send.sh %U
Name=Submit Files to ESET
